.header {
	position: absolute;
	width: 100%;
	&__container {
		max-width: 1440px;
		display: flex;
		align-items: flex-start;
		padding-left: 150px;
		padding-top: 30px;
		margin: 0 auto;
	}

	&__link-list {
		padding: 0;
		display: flex;
	}

	&__link-item {
		list-style: none;
		margin-right: 40px;
	}
	&__link-item:last-child {
		margin-right: 0;
	}

	&__link {
		position: relative;
		font-weight: 400;
		font-size: 12px;
		line-height: 17px;
		color: #fff;
		text-decoration: none;

		&:before {
			content: "";
			bottom: 0;
			left: 0;
			position: absolute;
			width: 0%;
			height: 1px;
			background-color: #fff;
			transition: all 0.2s;
		}
		&:hover {
			&:before {
				width: 100%;
			}
		}
	}
}
